<%include partials/header%>
  <div id="bar">
    <div id="image"></div>
    <h1>Well, Hello There.</h1>
    <p id="credit">Photo by <a href="https://unsplash.com/@kovacsz1">Zoltan Kovacs on Unsplash</a></p>
  </div>
  <div id="about-text">
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-6 col-xl-8 mb-3 mb-md-0 order-2 order-md-1 text-center text-md-left">
        <h1 class="h2">Making Art Easier For all.</h1>
        <p>Whether you've bought 1,000 pieces or you've just picked up a pen for the first time, Splatr is for you. Well, if you're at least 13 that is.</p>
        <p>Point being, big or small, we're here to make everything go right. At Splatr we aim to be your number one source to find others art and promote your own.</p>
        <p>Whether you're an artist or one's biggest fan, Splatr is the perfect place for you. We bring together artists of all styles and persuasions and connect them with their number one fans to make commissioning a breeze. No more hassle, no more hunting. We've got it all and it's ready for you.</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 text-center order-1 order-md-2">
        <img class="icon" src="https://ayizan.blob.core.windows.net/site-images/partners-pink.svg">
      </div>
    </div>
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-6 col-xl-4 mb-3 mb-md-0 text-center">
        <img class="icon" src="https://ayizan.blob.core.windows.net/site-images/dash-pink.svg">
      </div>
      <div class="col-12 col-md-6 col-xl-8 text-center text-md-right">
        <h1 class="h2">Streamlining Your Process, One Click at a Time.</h1>
        <p>
          Being busy is great! But sometimes, being busy can mean losing out on productivity, spending energy on the less-fun things, and generally getting burned out before you know it. We want to keep that from happening. With secure transfers and accounts that link to your social media, you’ll only be “busy” when you choose to be!
        </p>
        <p>
          No more chasing down scattered emails, tracking lost payments or using five tools to do one job. We keep it all together, and with analytics on the way, soon you'll have all you need to show your art to the world.
        </p>
      </div>
    </div>
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-6 col-xl-4 order-md-2 mb-3 mb-md-0 text-center">
        <img class="icon" src="https://ayizan.blob.core.windows.net/site-images/guide-pink.svg">
      </div>
      <div class="col-12 col-md-6 col-xl-8 order-md-1 text-center text-md-left">
        <h1 class="h2">Connecting You to Who You Need to Know</h1>
        <p>You know that feeling of discovering an artist’s work from their social media or webpage or comic or through a Google search and falling love? We mean the heart-fluttering, awe-inspiring, mouth-gaping, “how’d they even do that” kind of love. That “need to have it” kind of love. We get that. We want to help you feel that feeling as often as possible. If you’ve got the vision, we’ve got the artist.</p>
      </div>
    </div>
  </div>
<%include partials/footer%>