<% include partials/header %>
<div id="bar">
  <div id="image"></div>
  <hgroup>
    <h1>What can we do for you?</h1>
    <h2 class="h4">No matter the question, you can contact us via one of the methods below. Please be sure to include screenshots where they might be applicable or helpful.</h2>
  </hgroup>
  <p id="credit">Photo by <a href="https://unsplash.com/@osmanrana">Osman Rana on Unsplash</a></p>
</div>
<div id="contact-forms">
  <h1>What's Up?</h1>
  <div id="contact-options">
    <div class="contact-section" id="general">
      <img src="https://ayizan.blob.core.windows.net/site-images/convo-pink.svg">
      <h2>General Questions</h2>
      <p>Don’t let your questions go unanswered. If you have a concern that isn’t addressed in our <a href="/faq">FAQs</a>, send it to us at <a href="mailto:team@splatr.art">team@splatr.art</a></p>
    </div>
    <div class="contact-section" id="payment">
      <img src="https://ayizan.blob.core.windows.net/site-images/money-pink.svg">
      <h2>Payment Questions</h2>
      <p>Whether you’re just curious about how deposits work or you’re experiencing a specific issue with another user or the system, send an email to <a href="mailto:payments@splatr.art">payments@splatr.art</a>.</p>
    </div>
    <div class="contact-section" id="privacy">
      <img src="https://ayizan.blob.core.windows.net/site-images/clients-pink.svg">
      <h2>Privacy</h2>
      <p>We take your privacy and your personal information very seriously. You can see specific provisions in our <a href="/legal/privacy">Privacy Policy</a>. If you have a specific question or concern, please email <a href="mailto:privacy@splatr.art">privacy@splatr.art</a></p>
    </div>
    <div class="contact-section" id="bugs">
      <img src="https://ayizan.blob.core.windows.net/site-images/tools-pink.svg">
      <h2>Development Questions</h2>
      <p>Maybe you found a bug, maybe the site crashed in the middle of an upload. Or maybe you want to let us know what you think about the Splatr platform. Send it all to <a href="mailto:team@splatr.art">team@splatr.art</a>.</p>
    </div>
  </div>
</div>
<% include partials/footer %>