<% include partials/header %>
  <div id="home-grid">
    <div id="row-1">
      <div id="image-1"></div>
      <div id="block-1">
        <div>
          <h1>Commissions Just Got Easier.</h1>
          <!--<p>Let Splatr take the guesswork out of the commissions process. Find artists by name or style with the help of our powerful search function and keep track of your art requests and deposits from your dashboard.</p><p>No more hassle, no more hunting.</p>-->
          <p>Let Splatr take the guesswork out of the commissions process. Keep track of your art requests and deposits from your dashboard.</p>
          <p>No more hassle, no more hunting.</p>
          <a href="/register" class="btn btn-primary"><strong class="h3">Get Started!</strong></a>
        </div>
      </div>
    </div>
    <div id="row-2">
      <img id="dash-icon" src="https://ayizan.blob.core.windows.net/site-images/dash-pink.svg" width="150px">
      <h1>Do It All With Splatr.</h1>
      <div class="feature" id="connect">
        <img class="home-icon" src="https://ayizan.blob.core.windows.net/site-images/connect-pink.svg">
        <h2 class="h3">Build Your Profile</h2>
        <p>Show potential buyers what you’re capable of with your Gallery. Show the world just how good you are!</p>
      </div>
      <div class="feature" id="guide">
        <img class="home-icon" src="https://ayizan.blob.core.windows.net/site-images/guide-pink.svg">
        <h2 class="h3">Find Artists</h2>
        <p>Give us a price, name, or style. We can find just who you need.</p>
      </div>
      <div class="feature" id="wallet">
        <img class="home-icon" src="https://ayizan.blob.core.windows.net/site-images/wallet-pink.svg">
        <h2 class="h3">Manage Payments</h2>
        <p>Money in, money out. Keep track of it all from your dashboard, transfer it to your bank account when you’re ready.</p>
      </div>
      <div class="feature" id="partner">
        <img class="home-icon" src="https://ayizan.blob.core.windows.net/site-images/partners-pink.svg">
        <h2 class="h3">Stay Protected</h2>
        <p>Commissioning art is something of a trust-fall exercise, but you don’t have to go into it with your eyes closed. We’ve got your back. </p>
      </div>
    </div>
    <div id="row-3">
      <div class="map-image" id="map-left"></div>
      <div id="block-3">
        <h1>Coming Soon to an Area Near You.</h1>
        <img id="world-map" src="https://ayizan.blob.core.windows.net/site-images/world-map.png" alt="A map of the countries we can accept artists from. These are the countries: Australia, Austria, Belgium, Canada, Denmark, Finland, France, Germany, Hong Kong, Ireland, Italy, Japan, Luxembourg, Netherlands, New Zealand, Norway, Portugal, Singapore, Spain, Sweden, Switzerland, United Kingdom, United States.">
        <p>Splatr supports artist accounts from the countries highlighted here (plus Hong Kong and Singapore).</p>
        <p>If you live somewhere that isn’t highlighted right now, don’t be discouraged. We don’t plan to stop until this map is filled in.  Until then, you can still sign up for a Buyer account and support your favorite artists!</p>
        <p>Sign up for our emails and be the first to find out when we add support for a new region!</p>
      </div>
      <div class="map-image" id="map-right"></div>
    </div>
    <div id="row-4">
      <h1>Let's keep it simple.</h1>
      <img class="home-icon feature-icon left" id="feature-icon-1" src="https://ayizan.blob.core.windows.net/site-images/money-pink.svg"></img>
      <p class="feature-text left" id="feature-text-1">Artists: when you use Splatr, you get to keep 88% of your total commission charges. As for the rest: 4-6% goes to Stripe for fees related to credit cards, payouts, transfers, etc. The remainder covers database and hosting costs for Splatr HQ.</p>
      <img class="home-icon feature-icon right" id="feature-icon-2" src="https://ayizan.blob.core.windows.net/site-images/tools-pink.svg"></img>
      <p class="feature-text right" id="feature-text-2">Splatr gives you the tools to manage your commissions. You can find these tools in your dashboard, and we’re always improving the collection.</p>
      <img class="home-icon feature-icon left" id="feature-icon-3" src="https://ayizan.blob.core.windows.net/site-images/convo-pink.svg"></img>
      <p class="feature-text left" id="feature-text-3">We keep all commission interactions in one place, so it’s easy to monitor progress and resolve issues before they escalate.</p>
      <img class="home-icon feature-icon right" id="feature-icon-4" src="https://ayizan.blob.core.windows.net/site-images/clients-pink.svg"></img>
      <p class="feature-text right" id="feature-text-4">Keep tabs on your open projects and start new ones easily from your dashboard.</p>
      <img class="home-icon feature-icon left" id="feature-icon-5" src="https://ayizan.blob.core.windows.net/site-images/flow-pink.svg"></img>
      <p class="feature-text left" id="feature-text-5">Half now and half later. Deposits lock both sides into the process. And these funds are protected - neither side can withdraw the balance until the project is completed or closed.</p>
      <img class="home-icon feature-icon right" id="feature-icon-6" src="https://ayizan.blob.core.windows.net/site-images/audience-pink.svg"></img>
      <p class="feature-text right" id="feature-text-6">Let our search engine (<a href="https://www.algolia.com"><small>powered by <i class="fab fa-algolia"></i> Algolia</small></a>) help you find new artists and be found, and build your portfolio one commission at a time.</p>
    </div>
  </div>
  <div class="bg-success" id="row-5">
    <h1 class="text-white">So, What Are You Waiting For?</h1>
    <a href="register" class="btn btn-neutral bg-white btn-lg text-primary"><strong>Sign Up!</strong></a>
  </div>
<% include partials/footer %>