<% include partials/header %>
  <h1 id="title">Privacy Policy</h1>
  <div id="terms">
    <p>Last Updated: October 10, 2018</p>
    <h2>We're Glad You're Here!</h2>
    <p>Splatr, LLC. ("us", "we", "Splatr") will do everything we can to make your commission process as simple and enjoyable as possible. Our Privacy Policy (the "Policy") explains, in detail, what information we collect, how that information is used, how we may share that information and the choices you can make about that information. This Policy applies to any method you use to access our services and to both types of accounts. This Policy is a part of our <a href="/legal/tos">Terms of Service</a>.</p>
    <h2>Information You Provide</h2>
    <p>This is the information that you provide to us, such as during account setup. The extent of information we collect is different depending on which type of account you for which you register (<a href="/legal/tos#section-1-3">You can see account types here</a>).</p>
    <h3>All Accounts</h3>
    <p>The minimum required information is collected at the time of registration and includes your:</p>
    <ol>
      <li>Valid Email</li>
      <li>Username</li>
      <li>Password</li>
    </ol>
    <p>You may also register for Splatr using a Facebook, Google or Twitter account. We will ask permission to access basic information from that account, such as your email and name.</p>
    <p>You have the option to add more information to your profile, such as social media links and a description. You may also comment on pieces of art and transactions you are a part of.</p>
    <p>Any such content or information is stored by Splatr.</p>
    <h3>Artist Accounts<br><small><em><a href="/legal/tos#section-1-4">You can see the requirements for an Artist Account here.</a></em></small></h3>
    <p>An Artist Account gives you access to the full feature set of Splatr. You can use these features to showcase, promote and sell your commissions to other users. In order to provide you with a smooth process, we require you to provide Stripe with your payment information (Stripe's Privacy Policy can be found <a href="https://stripe.com/us/privacy">here</a>). No payment information crosses our servers. Stripe collects all payment information and provides us with a token that represents the information we need to process your transactions. </p>
    <p>When you register for an Artist Account, you authorize us to create a Stripe Connected Account on your behalf. You will <em>not</em> have access to the Stripe Dashboard or any direct access to your Stripe Connected Account.</p>
    <p>Depending on your country, we will need some of the following information:
      <ol>
        <li>Full Legal Name</li>
        <li>Address</li>
        <li>Personal Identification Number (Social Security Number in the United States)</li>
        <li>Date of Birth</li>
      </ol>
    </p>
    <h2>Information We Collect</h2>
    <p>As you use Splatr, we collect some information automatically or through third party providers.</p>
    <p>We use Google Analytics to see how you use Splatr so we can improve the services we offer you. In order to do this, Google places a cookie on your browser. We recommend you read <a href="https://policies.google.com/privacy">Google's Privacy Policy.</a></p>
    <p>On Artist Pages and on Gallery Pages, we give you the ability to share those pages on various social media networks. Those networks may collect additional information on your browser use both on and off of Splatr.</p>
    <h2>How We Use Your Information</h2>
    <p>We never sell your information. We use the information you give us and we collect to:
      <ol>
        <li>Provide services to you</li>
        <li>Allow you to sign in to your account</li>
        <li>Allow you to purchase commissions from other users</li>
        <li>Allow you to accept commissions from other users</li>
        <li>Reply to any requests that you send us</li>
        <li>Understand how you use our services and market them to you, including suggesting creators you may be interested in commissioning.</li>
        <li>Create better tools and flows to streamline and improve your commission process</li>
        <li>Develop improvments to and new services for Splatr</li>
        <li>Mediate conflicts that may arise between you and another user</li>
        <li>Moderate the Splatr Community to better ensure that all users have an enjoyable experience on Splatr.</li>
        <li>Prevent fraud and abuse.</li>
      </ol>
    </p>
    <h2>Information We Give to Other Users</h2>
    <p>During the commission process, we do not disclose your personal information. You are identified only by your username. Any comments you make during the process are viewable to the other party. These comments are unable to be edited and remain viewable to the other party and Splatr even after your own account has been deleted. We reserve the right to, in our sole discretion, remove any comment, transaction, artwork or any other content for any reason.</p>
    <h2>Information Given To Third Parties</h2>
    <p>When you register for an Artist Account, Stripe requires certain information in order to collect and payout funds on your behalf. This information is not stored on any Splatr server, and all such information is subject to Stripe's Privacy Policy.</p>
    <p>Our email management vendors may receive your email and username for use in transactional and marketing emails.</p>
    <p>We will share your Personally Identifable Information (PII) with the appropriate parties if we believe that disclosure is reasonably necessary to comply with a law, regulation, legal process (subpoenas or warrants).</p>
    <h2>Information Showed to the Public</h2>
    <p>These are the pieces of information that are shown on your public-facing profile page (all of these are if you provide them to us and subject to our approval):
      <ol>
        <li>Your profile (including all descriptions, sayings, comments, commissions and artworks) and your social media links,</li>
        <li>Any comment you post to a piece of art,</li>
        <li>Your live status on various third-party platforms.</li>
      </ol>
    </p>
    <h2>Your Rights</h2>
    <p>It's your data. You have the right to it. Specifically:
      <ol>
        <li>You can modify most information on your account at any time through the Settings area of your Dashboard (the "Settings").</li>
        <li>You can delete your account, which will immediately remove your PII from our servers (your comments to both transactions and artworks will remain), in the Settings. When you delete your account, we will inform our partners of the deletion, but what happens with your data is subject to the subject party's Privacy Policy. </li>
        <li>You may disable marketing emails through the Settings. Please note that disabling marketing emails will not prevent our transactional emails.</li>
        <li>You may disable any mobile notifications through the App Settings.</li>
        <li>We will retain your data until you delete your account. We reserve the right to delete any data for any reason including violation of our Terms.</li>
      </ol>
    </p>
    <p>If you have any questions or wish to request a change to or audit of your data, please contact <a href="mailto:privacy@splatr.art">privacy@splatr.art</a>.</p>
    <h2>Security and Protection</h2>
    <p>We make reasonable efforts to ensure a level of security appropriate to the risk associated with the processing of Personal Data. We maintain organizational, technical and administrative measures designed to protect Personal Data within our organization against unauthorized access, destruction, loss, alteration or misuse. Your Personal Data is only accessible to a limited number of personnel who need access to the information to perform their duties. Unfortunately, no data transmission or storage system can be guaranteed to be 100% secure. If you have reason to believe that your interaction with us is no longer secure (for example, if you feel that the security of your account has been compromised), please contact us at <a href="mailto:privacy@splatr.art">privacy@splatr.art</a>.</p>
    <h2>International Data Transfer</h2>
    <p>We are a company in the United States, therefore, by using our services you consent to the transfer to, processing, and use of your personal data in the United States. This processing is limited to what is described in this Policy and our <a href="/legal/tos">Terms of Service</a>.</p>
    <p>We will obtain your consent before sending you any marketing emails. You may change this information through the Settings at any time. We will never provide your information to third parties for marketing purposes without your prior consent.</p>
    <h2>Minors</h2>
    <p>While we think it's great you're interested in art, Splatr is not directed at children under the age of 16. As such, anyone under 16 may not create an account or otherwise use our services.</p>
    <h2>Changes</h2>
    <p>We may make changes to this policy at any time. If there are substantive changes that affect your rights under this policy, we will let you know on the site or by email prior to the changes going into effect. Continuing to use our services after a change in the policy acknowledges and accepts the changes to the policy.</p>
  </div>
<% include partials/footer %>