body {
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #111;
  background-image: url("https://ayizan.blob.core.windows.net/site-images/Login.jpg");
  background-attachment: fixed;
}
a:not(.small){
  color:white;
}
a:hover {
  text-decoration: none;
}
.card {
  border-radius: .25rem;
  z-index: 1000;
}
footer {
  background: transparent;
}
.log-line {
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
  text-decoration: none !important;
}
.small {
  font-size: 8pt;
}
@media (min-width: 800px){
  footer {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
}