#bar {
  grid-column: 1;
  grid-row: 3;
  padding: 25px;
  text-align: center;
}
body {
  background-image: linear-gradient(60deg, rgba(255, 255, 255, .05), rgba(255,255,255,1) 60%),
                      url("https://ayizan.blob.core.windows.net/site-images/Register Alt.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:75px auto 1fr;
}
footer {
  grid-row: 4;
}
#image {
  display: none;
}

#register-form {
  border-radius: .25rem;
  margin: 50px auto;
  width: 300px;
}
@media (min-width: 800px){
  body {
    background-image: none;
  }
  #bar {
    display: grid;
    grid-template-columns: 50px 3fr 1fr 3fr 50px;
    grid-template-rows: 1fr auto;
    overflow: hidden;
    padding: 0;
  }
  #bar > h1 {
    grid-column: 2/4;
    grid-row: 1;
    margin: auto 25px;
    text-align: right;
  }
  #credit {
    display: inline-block;
    font-size: .6rem;
    grid-column: 4;
    grid-row: 2;
    margin-top: auto;
    text-align: right;
  }
  #image {
    background-image: linear-gradient(60deg, rgba(255, 255, 255, .05), rgba(255,255,255,1) 60%),
                      url("https://ayizan.blob.core.windows.net/site-images/Register Alt.jpg");
    display: block;
    grid-column: 1/3;
    grid-row: 1/3;
  }
  #register-form {
    grid-column: 4;
    grid-row: 1;
  }
}